*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sectionOne{
    height: 31.25rem;
    background-image: url(../assets/backgoundplant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 70%;
}

.sectionOne div{
    padding-right: 3.125rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sectionOne button{
    margin-right: 3.125rem;
    margin-top: 2.5rem;
    width: 4.375rem;
    height: 2.5rem;
    background-color:#364037;
    color: white;
    border: none;
    border-radius: 1.5625rem;
}

.sectionOne h1{
    font-family: 'Lato', sans-serif;
    margin-top: 5rem;
    width: 600px;
    padding-right: 1.875rem;
    font-size: 3.75rem;
    text-align: right;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #364037;
    height: 6.25rem;
}

header nav{
    display: flex;
    align-items: center;
}
#temperature{
    font-family: 'Lato', sans-serif;
    color:white;
    padding-right: 5rem;
}

header img{
    height: 3.4375rem;
    padding-left: 1.25rem;
}


.modal{
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.modal-content{
    background-color: #6D8B74;
    margin: 10% auto;
    padding: 20px;
    border: none;
    border-radius: 1.875rem;
    width: 30%;
    box-shadow: 0rem .50rem .50rem 0rem rgba(0, 0, 0, 0.25);
}

#loginForm{
    font-family: 'Lato', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .625rem;
    padding-bottom: 1.875rem;
}
#loginForm input{
    height: 1.875rem;
    width: 15.625rem;
    margin-bottom: 1.25rem;
    border-radius: .625rem;
}
#loginForm label{
    margin-top: 1.875rem;
    margin-bottom: .625rem;
}
#loginForm button{
    padding: 12px 22px 12px 22px;
    border-radius: .75rem;
    border: none;
    color: white;
    background-color: #364037;
}

.close{
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

h1{
    text-align: center;
    color: #364037;
}
.imgPlant{
    padding-bottom: .9375rem;
    width: 12.5rem;
    height: 9.375rem;
    object-fit: contain;
    margin-top: 1rem;
}

.styleButton{
    border: none;
    padding: 8px 18px 8px 18px;
    border-radius: 1.25rem;
    font-size: 1.125rem;
    color: whitesmoke;
    background-color: #364037;
}

.styleButton:focus{
    background-color: #6D8B74;
}

.marketplace{
    display: flex;
    flex-direction: row;
}

#plantContainer{
    padding-top: 3.125rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: 80%;
    background-color: #FCECD5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    padding-bottom: 1.25rem;
    width: 200px;
    border: none;
    border-radius: .625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}

.card-body h2{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #6D8B74;
    padding-bottom: .625rem;
}

.card-body p{
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #6D8B74;
    padding-bottom: 1.25rem;
}
#shoppingCart{
    background-color: #6D8B74;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18.75rem;
    border: 1px, solid #ccc;
    padding: .625rem;
    border-radius: .3125rem;
}

#shoppingCart h2{
    font-family: 'Lato', sans-serif;
    padding-top: 2.5rem;
    color: #364037;
} 

#shoppingCart p{
    font-family: 'Lato', sans-serif;
    padding-top: 2.5rem;
    color: #FCECD5;
    font-size: 1.875rem;
}

#shoppingList{
    list-style: none;
    color: #FCECD5;
    font-family: 'Lato', sans-serif;
    padding: 20px 10px 10px 10px;
}

#shoppingList li{
    padding-top: .625rem;
}

.buttonShop{
    padding-top: 2.5rem;
}

.emptyButton{
    padding: 10px 15px 10px 15px;
    border: none;
    color: #FCECD5;
    background-color: #6D8B74;
    font-size: 1.125rem;
}
.checkoutButton{
    padding: 10px 15px 10px 15px;
    border: none;
    color: #FCECD5;
    background-color:#364037;
    font-size: 1.125rem;
    border-radius: 1.25rem;
}