*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sectionOne{
    height: 31.25rem;
    background-image: url(../assets/backgoundplant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 70%;
}

.sectionOne div{
    padding-right: 3.125rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sectionOne button{
    margin-right: 3.125rem;
    margin-top: 2.5rem;
    width: 4.375rem;
    height: 2.5rem;
    background-color:#364037;
    color: white;
    border: none;
    border-radius: 1.5625rem;
}

.sectionOne h1{
    font-family: 'Lato', sans-serif;
    margin-top: 5rem;
    width: 600px;
    padding-right: 1.875rem;
    font-size: 3.75rem;
    text-align: right;
}

header{
    display: flex;
    align-items: center;
    background-color: #364037;
    height: 6.25rem;
}

header nav{
    display: flex;
    align-items: center;
}

header img{
    height: 3.4375rem;
    padding-left: 1.25rem;
}


h1{
    text-align: center;
}
.imgPlant{
    padding-bottom: .9375rem;
    width: 12.5rem;
    height: 9.375rem;
    object-fit: contain;
    margin-top: 1rem;
}

.styleButton{
    border: none;
    padding-left: .625rem;
    padding-right: .625rem;
    padding-top: .1875rem;
    padding-bottom: .1875rem;
    border-radius: .625rem;
    color: whitesmoke;
    background-color: #364037;
}

.styleButton:focus{
    background-color: #6D8B74;
}

.marketplace{
    display: flex;
    flex-direction: row;
}

#plantContainer{
    padding-top: 3.125rem;
    width: 80%;
    background-color: #FCECD5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    padding-bottom: 1.25rem;
    width: 200px;
    border: none;
    border-radius: .625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}
#shoppingCart{
    background-color: #6D8B74;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18.75rem;
    border: 1px, solid #ccc;
    padding: .625rem;
    border-radius: .3125rem;
}

.emptyButton{
    color: whitesmoke;
    background-color: darkgreen;
}